@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Runik", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}