.footer__section {
    background: $color-footer-background;

    &__container {
        @include container;

        &__footer {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1rem;
            padding: 3rem 0;

            &__info {
                width: 285px;
                height: auto;

                p {
                    margin-top: 1rem;
                    color: #6c757d;
                }
            }

            &__links {
                h1 {
                    color: $color-white;
                }

                p {
                    color: $color-secondary;
                }

                &--quick {
                    a {
                        margin-top: 1rem;
                        display: block;
                        color: $color-secondary;
                    }
                }
            }

            &__conditions {
                h1 {
                    color: $color-white;
                }

                &--links {
                    a {
                        margin-top: 1rem;
                        display: block;
                        color: $color-secondary;
                    }
                }
            }

            &__subscribe {

                h1 {
                    color: $color-white;
                }

                p {
                    color: $color-secondary;
                }

                &__form {
                    margin-top: 1rem;
                    display: flex;

                    input {
                        width: 100%;
                        height: 35px;
                        padding: 0 20px;
                        font-size: 12px;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        border: 1px solid #c5bdbd;
                        transition: all .3s;
                    }

                    button {
                        width: 35%;
                        text-align: center;
                        height: 35px;
                        padding: 0 20px;
                        font-size: 12px;
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                        border: 1px solid #c5bdbd;
                        transition: all .3s;
                        cursor: pointer;
                    }
                }

                &__social-links {
                    margin-top: 1rem;
                    font-size: 1.6rem;
                    display: flex;

                    a {
                        .fa-facebook {
                            color: rgb(82, 82, 240);
                        }

                        .fa-linkedin {
                            color: rgb(47, 47, 219);
                        }

                        .fa-twitter {
                            color: rgb(12, 233, 203);
                        }
                    }

                    a+a {
                        margin-left: 1.5rem;
                    }
                }
            }
        }

    }
}