$color-primary:#3dcfd3;
$color-secondary:#6c757d;
$color-white:#FFFFFF;
$color-light:#f9fcff;
$color-danger:#c42828;
$color-green:#26AE61;
$color-dark:#111412;
$color-white-light:#D5FFE7;
$color-footer-background:#24324a;
$bg-color:#F2F7FB;
$form-control-color:#c5bdbd;


$border-card:1px solid #f1f1f1;